<div class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><%= t('Log in', :default => "Log in") %></h2>
            </div>
            <div class="panel-body">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
              <%= bootstrap_devise_error_messages! %>
              <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </label>
              </div>
            <% end %>
            <%= f.submit  t('Log in', :default => "Log in"), class: "btn btn-primary btn-lg btn-block" %>
            <% end %>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>

