<div class="form-wrapper">
  <%= form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="form-group">
    <label>Add Image</label>
      <%= f.file_field :image %>
    </div>
    <div class="form-group ">
    <label>Add Caption</label>
      <%= f.text_field :caption, class: 'form-control', placeholder: "Text caption" %>
    </div>
    <div class="form-group">
    <label>Add Article</label>
      <%= f.text_area :article, class: 'form-control', rows: "6", placeholder: "Text article" %>
    </div>
    <div class="form-group">
      <%= f.submit :submit, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  <% end %>
</div>